.searchResult {
  &__list {
    margin-left: -15px;
    margin-right: -15px;
    @include media-breakpoint-up(md) {
      margin-left: 0;
      margin-right: 0;
    }
    .card {
      border-bottom: 4px solid $gray-100;
      @include media-breakpoint-up(md) {
        border-bottom: 1px solid $gray-100;
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
    .card__img {
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: center;
      }
      @include media-breakpoint-up(md) {
        img {
          width: 175px;
          height: 175px;
          border-radius: 0.5rem 0 0 0.5rem;
        }
      }
      @include media-breakpoint-up(lg) {
        img {
          width: 225px;
          height: 175px;
        }
      }
    }
  }
  &__modal {
    .modal-body {
      padding-bottom: 160px;
    }
  }
}