// Typography
//
$font-family-base:            'Roboto', sans-serif, "微軟正黑體";

// font-size
//
$fsz: 1rem;
$fontSizes: (
  1: $fsz* 0.5, // 8
  2: $fsz * 0.875, // 14
  3: $fsz, // 16,
  4: $fsz * 1.25, // 20
  5: $fsz * 1.5, // 24
);

// // Color system
$white:    #fff !default;
// iva
$gray-100: #E0E0E0;
$gray-200: #ced4da;
$gray-300: #A5A5A5;
$gray-400: #8D8D8D;
$gray-500: #818A91;
$gray-600: #848484;
$gray-700: #707070;
$gray-800: #495057;
$gray-900: #373A3C;
$black:    #000 !default;

// #848484

$primary:     #916000;
$secondary:   #AC8A46;
$success:     #28a745;
$info:        #916019;
$warning:     #ffc107;
$danger:      #dc3545;
$light:       #8D8D8D;
$dark:        #000;


$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "white":      $white,
    "gray-100":   $gray-100,
    "gray-200":   $gray-200,
    "gray-300":   $gray-300,
    "gray-400":   $gray-400,
    "gray-500":   $gray-500,
    "gray-600":   $gray-600,
    "gray-700":   $gray-700,
    "gray-800":   $gray-800,
    "gray-900":   $gray-900,
  ),
  $theme-colors
);

$border-color:                $gray-200 ;


// Links
//
// Style anchor elements.
$link-color:                              $gray-600;

// Spacing
//
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .5), // 8
    2: $spacer, // 16
    3: ($spacer * 1.25), // 20,
    4: ($spacer * 2), // 32
    5: ($spacer * 2.25), // 36
    6: ($spacer * 2.5) // 40
  ),
  $spacers
);

// Typography
//
$headings-margin-bottom:      0;
$headings-line-height:        1.5;

// input
//
// $input-border-color:  $primary;
$input-padding-x: 0.5rem;
$input-padding-y: 0.5rem;


// form
//
$form-group-margin-bottom: 1.25rem;

// Grid breakpoints
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);