@each $breakpoints in map-keys($grid-breakpoints) {
  $mediaBk: $breakpoints;
  @include media-breakpoint-up($mediaBk) {
    $infix: breakpoint-infix($mediaBk, $grid-breakpoints);
    .fx#{$infix}-cc {
      justify-content: center !important;
      align-items: center !important;
    }
    .fx#{$infix}-btc {
      justify-content: space-between !important;
      align-items: center !important;
    }
  }
}

.overflow-scoll{
  flex-wrap: nowrap !important;
  overflow: scroll !important;
}

.radial-gradient {
  background-image: radial-gradient(rgba($black, 0.1), rgba($black, 0.8));
}

// add based on boostrap
.dropnone .dropdown-toggle {
  &::after {
    display: none;
  }
}

.pointer { 
  cursor: pointer;
}

.fixed-md-bottom { 
  @include media-breakpoint-up(md) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}