// Customize
//

// Typography
//
$font-family-base: 'Open Sans', 'Roboto', sans-serif, "微軟正黑體";
$headings-margin-bottom: 0;
// font-size
//
$fsz: 1rem;
$fontSizes: (
  1: $fsz * 0.75, // 12
  2: $fsz * 0.875, // 14
  3: $fsz, // 16,
  4: $fsz * 1.25, // 20
  5: $fsz * 1.5, // 24
  6: $fsz * 2, // 36
);


// Images - ratio
$imgRatios:(
  1: 70%,
  2: 80%,
  3: 90%,
  4: 100%
);

// // Color system
$white:    #fff !default;
$gray-100: #F1F0F8;
$gray-200: #FFFFFF98;
$gray-300: #F1F0F8;
$gray-400: #FFFFFF00;
$gray-500: #00000060;
$gray-600: #00000061;
$gray-700: #121212;
$gray-800: #07060699;
$gray-900: #000000DE;
$black:    #000 !default;

$primary:     #6C51E2;
$secondary:   $gray-200;
$success:     #28a745;
$info:        $gray-800;
$warning:     #ffc107;
$danger:      #dc3545;
$light:       $gray-100;
$dark:        #000;


$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "white":      $white,
    "gray-100":   $gray-100,
    "gray-200":   $gray-200,
    "gray-300":   $gray-300,
    "gray-400":   $gray-400,
    "gray-500":   $gray-500,
    "gray-600":   $gray-600,
    "gray-700":   $gray-700,
    "gray-800":   $gray-800,
    "gray-900":   $gray-900,
  ),
  $theme-colors
);

$border-color:                $gray-300;
$input-border-color:          $white;

// Links
//
// Style anchor elements.
$link-color:                              $gray-800;

// Spacing
//
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),   // 4
    2: ($spacer * .5),   // 8
    3: ($spacer * 1),    // 16
    4: ($spacer * 1.25), // 20
    5: ($spacer * 1.5),  // 24
    6: ($spacer * 2),    // 32
    7: ($spacer * 2.25), // 36px
    8: ($spacer * 3), // 48px
    9: ($spacer * 4), // 64px
    10: ($spacer * 4.5), // 72px
  ),
  $spacers
);


// Navs
$nav-link-padding-y:                0;
$nav-link-padding-x:                0;

// Navbar
$navbar-padding-y:                  1rem;
$navbar-padding-x:                  0;
$navbar-nav-link-padding-x:         1.25rem;
$navbar-light-color:                $gray-700;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-padding-x:          0;

//
$h1-font-size:                1rem * 3;
$headings-font-weight:        600;

// form elements
$input-padding-y: 1rem;
$input-padding-x: 1.25rem;
$label-margin-bottom: 0.25rem;

// checkbox
//
$custom-checkbox-indicator-border-radius:       0.25rem;


// modal
//
$modal-dialog-margin: 0;
$modal-content-border-radius: 0;
$modal-content-border-width: 0;
$modal-inner-padding: 0;