.card {
  display: flex;
  &__body {
    flex: 1 1 auto;
    padding: $spacer * 0.25;
    padding-left: $spacer * 0.5;
    @include media-breakpoint-up(lg) {
      padding-top: $spacer * 0.5;
      padding-left: $spacer * 0.5;
      padding-bottom: $spacer * 0.75;
      padding-right: $spacer * 0.5;
    }
    @include media-breakpoint-up(lg) {
      padding-top: $spacer;
      padding-left: $spacer;
      padding-bottom: $spacer * 1.25;
      padding-right: $spacer;
    }
  }
}