.pagination {
  display: flex;
  &__item {
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 14px;
    a { 
      color: $dark;
      font-size: $fsz * 1.25;
    }
    &:hover {
      a {
        color: rgba($primary, 0.8);
      }
    }
  }
  &__item--active {
    background: $white;
  }
  &__item--disabled {
    background: $gray-100;
    cursor: not-allowed;
    a {  cursor: not-allowed; }
  }
}