.pagination {
  display: flex;
  &__item {
    cursor: pointer;
    margin-right: 20px;
    a { 
      color: $dark;
      font-size: $fsz * 1.25;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      a {
        color: rgba($primary, 0.8);
      }
    }
  }
  &__item--active {
    border-bottom: 1px solid $primary;
    a { color: $primary; }
  }
  &__item--disabled {
    background: #F2F2F2;
    cursor: not-allowed;
    a {  cursor: not-allowed; }
  }
}