

.tabList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  &--border{
    .tabList__link {
      border-bottom: 2px solid $gray-300;
      &.active {
        border-bottom: 2px solid $primary;
      }
      &:hover{
        border-bottom: 2px solid rgba($primary, 0.8);
      }
    }
  }
  &__item {
    cursor: pointer;
  }
  &__link {
    display: block;
    font-weight: bold;
    color: $custom-gray-500;
    &:hover{
      color: rgba($primary, 0.8);
    }
    &.active {
      color: $primary;
    }
  }
  &__link--light {
    color: $custom-gray-400;
  }
}