.tagGroup {
  display: flex;
  flex-wrap: wrap;
  .tag {
    margin-right: 0.25rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.tag {
  color: $gray-800;
  background: $secondary;
  border-radius: 13px;
  &--rounded {
    padding: 0.125rem 0.5rem;
    font-size: 0.625rem;
  }
  &--square {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
  }
}