<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">

</head>

<body>
  <header class="sticky-top bg-white">
    <nav class="navigation py-1 py-md-2">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <h1 class="navigation__brand">
            <a href="index.html">Perfume</a>
          </h1>
          <!-- main -->
          <ul class="d-md-flex d-none">
            <li class="navigation__item">
              <a class="navigation__link" href="product.html">
                <span class="material-icons">store_mall_directory</span>
                Product
              </a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="login.html">
                <span class="material-icons">person</span>
                log in
              </a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">
                <span class="material-icons">favorite</span>
                Wishlist</a>
              </a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">
                <span class="nav-icon material-icons">shopping_cart</span>
                Cart(3)
              </a>
            </li>
          </ul>
          <!-- mobile toggle -->
          <div class="d-flex d-md-none align-items-center">
            <a class="d-flex justify-content-center d-lg-none iconAlertInfo mr-3" href="#">
              <span class="text-light material-icons">shopping_cart</span>
              <span class="iconAlertInfo__text">3</span>
            </a>
            <div class="navigation__toggle border-0" id="js-mobileMenuToggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <!-- mobile -->
      <div>
        <ul class="mobileMenu d-md-none" id="mobileMenu">
          <li class="mobileMenu__item">
            <a href="product.html">Product</a>
          </li>
          <li class="mobileMenu__item">
            <a href="#">Wishlist</a>
          </li>
          <li class="mobileMenu__item">
            <a href="#">Blog</a>
          </li>
          <li class="mobileMenu__item">
            <a href="#">Contact</a>
          </li>
          <li class="mobileMenu__item">
            <a href="login.html">log in</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <%- contents %>
  </main>
  <footer class="bg-primary py-4">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <a href="index.html"><img class="mr-4" src="https://hexschool.github.io/webLayoutTraining1st/perfume-week6/d’Perfumewhite.png"
            alt="logo"></a>
          <p class="text-white fsz-2">© 2020. All Rights Reserved.</p>
        </div>
        <ul class="list-unstyled d-none d-md-flex">
          <li class="mr-5"><a href="product.html" class="text-white fsz-4">Product</a></li>
          <li class="mr-5"><a href="#" class="text-white fsz-4">Blog</a></li>
          <li><a href="#" class="text-white fsz-4">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>