<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/style/all.css">

</head>

<body>
  <section class="bg-white sticky-top">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light pt-md-5 pb-md-5">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/logo-aloha.svg" loading="lazy">
        </a>
        <a href="login.html" class="nav-link d-md-none text-gray-700">
          Login
        </a>
        <div class="collapse navbar-collapse pl-3 pr-3 p-md-0" id="mobileMenu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown pt-2 pb-2 pt-md-0 pb-md-0">
              <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="material-icons">
                  language
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">日文</a>
                <a class="dropdown-item" href="#">polski</a>
              </div>
            </li>
            <li class="nav-item pb-2 pb-md-0">
              <a class="nav-link" href="#">Sign up </a>
            </li>
            <li class="nav-item d-none d-md-flex">
              <a class="nav-link pr-0" href="#">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <main class="<%= page %> mb-10">
    <%- contents %>
  </main>
  <section class="bg-gray-100 p-5">
    <div class="container">
      <div class="row align-items-center">
        <h2 class="fsz-5 display-2 font-weight-bold col-md-5">Subscribe for Exclusive Offer</h2>
        <div class="col-md-7">
          <div class="input-group">
            <input type="text" class="form-control border-primary" placeholder="Your email address"
              aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="button-addon2">SUBSCRIBE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="container">
    <div class="d-md-flex justify-content-md-between align-items-md-center py-4 border-top">
      <div class="d-block d-md-flex align-items-md-center">
        <ul class="d-flex text-gray-800 pl-md-5 justify-content-center">
          <li><a class="fsz-2" href="#">FAQs</a></li>
          <li class="ml-4"><a class="fsz-2" href="#">Terms of use</a></li>
          <li class="ml-4"><a class="fsz-2" href="#">Privacy policy</a></li>
        </ul>
        <p class="fsz-2 ml-md-4 order-1 text-center text-gray-800">© 2020. All Rights Reserved.</p>
      </div>
      <ul class="d-none d-md-flex align-items-center ">
        <li class="d-flex align-items-center mr-3">
          <a class="dropdown-toggle d-flex align-items-center fsz-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            <span class="material-icons pr-1 iconSize-4 text-dark">language</span>
            English
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">日文</a>
            <a class="dropdown-item" href="#">polski</a>
          </div>
        </li>
        <li>
          <a class="dropdown-toggle d-flex align-items-center fsz-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            <span class="material-icons pr-1 iconSize-4 text-dark">attach_money</span>
            TWD
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">USD</a>
            <a class="dropdown-item" href="#">YEN</a>
            <a class="dropdown-item" href="#">TWD</a>
          </div>
        </li>
      </ul>
    </div>
  </footer>
  <script src="assets/js/vendors.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>